/*
 * COURSES GRID
 */

.grid-link {
	color: #666;
}

.grid-link:hover {
	text-decoration: none;
	color: #666;
}

.grid-btn {
	transition: box-shadow .1s;
	-moz-transition: box-shadow .1s;
	-webkit-transition: box-shadow .1s;
}

.grid-btn:hover {
	-moz-box-shadow: 0 0 8px #2c2cfd;
	-webkit-box-shadow: 0 0 8px #2c2cfd;
	box-shadow: 0 0 8px #2c2cfd;
}

/*
 * MAIN FOOTER
 */
 
.only_footer {
	/*background: #2f2f2f;*/
	color: #666;
	border-top: 1px solid #000;
	padding: 17px 0 18px 0;
}

.footer_links {
	list-style: none;
}

.footer_links > li > a {
	color: #999;
	font-size: 13px;
}

.footer_links > li > a:hover {
	color: #efefef;
}

.logospace {
	text-align: center;
}

/*
 * SAMPLE COLORS
 */

.backg {
	background: green;
}

.backw {
	background: white;
}

.backt {
	background: tomato;
}

/*
 * FORMS
 */

.slug-danger {
	line-height: 30px;
	padding-left: 0;
}

/*
 * SUBJECT
 */

.subject-table {
	margin-top: 15px;
}

.subject-table > .panel {
	margin-bottom: 5px;
}

.top-pad {
	padding-top: 10px;
}

.subject-title {
	margin-top: 0px;
}

/*
 * GENERAL PURPOSE VERTICAL SPACING
 */

.row-space {
	margin-top: 15px;
	margin-bottom: 15px;
}

.row-space-top {
	margin-top: 15px;
}

.row-space-bottom {
	margin-bottom: 15px;
}

/*
 * COURSE PANEL
 */

/* USE WITH SM SIZE BUTTONS */
.top-link {
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.course-panel .panel-heading h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

.course-panel .panel-heading span {
	float: right;
	vertical-align: middle; /* doesnt seem to be working */
	margin-top: 10px; /* so put an approximate value */
}


			/* NICE HUH? */
			.cors-g-ribbon-wrapper {
				width: 60px;
				height: 50px;
				overflow: hidden;
				position: absolute;
				top: -1px;
				right: 14px;
			}
			.cors-g-ribbon {
				font: bold 11px Station;
				color: #333;
				text-align: center;
				text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				position: relative;
				padding: 1px 0;
				left: -15px;
				top: 9.5px;
				width: 120px;
				background-color: #BFDC7A;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45);
				background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
				background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
				background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
				background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
				-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
				box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
			}
			.cors-g-ribbon:before, .cors-g-ribbon:after {
				content: " ";
				border-top: 3px solid #6e8900;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				position: absolute;
				bottom: -3px;
			}
			.cors-g-ribbon:before {
				left: 0;
			}
			.cors-g-ribbon:after {
				right: 0;
			}